.prismjs {
  > code {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    text-align: left;
    user-select: text;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

code[class*="language-"],
pre[class*="language-"] {
  .token.important,
  .token.bold {
    font-weight: 600;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
